@use "./mixins" as *;

.navbar-wrapper {
  max-width: 450px;
  width: 100%;
  @include displayFlex($align: center, $justify: space-between);

  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: default;
  }

  .navbar-actions {
    @include displayFlex($align: center, $gap: 0.75rem);

    .button.create-post {
      min-width: 120px;
      width: auto;
    }
  }
}
