@use "../../shared/styles/mixins" as *;

.list-wrapper {
  width: 100%;
  height: 100%;
  padding-block: 1rem;
  @include displayFlex($direction: column, $gap: 1rem);

  .user-list {
    @include displayFlex($direction: column, $gap: 1rem);
    width: 100%;
    padding-inline: 1rem;

    .user-list-item {
      @include displayFlex(
        $direction: row,
        $align: center,
        $gap: 1.5rem
      );

      .user-action-button-wrapper {
        @include displayFlex(
          $direction: row,
          $align: center,
          $justify: space-between,
          $gap: 0.5rem
        );
      }
    }
  }
}
